@import url('http://fonts.cdnfonts.com/css/drum-n-bass');
@import url('http://fonts.cdnfonts.com/css/a-astro-space');

@font-face {
    font-family: Astro-Space;
    src: url("AstroSpace-0Wl3o.otf");
}

header{
    font-family: 'Drum N Bass';
    align: center;
    background: rgb(107, 109, 109);
    opacity: 85%;
    font-style: italic;
    text-shadow: 5px 5px rgb(88, 87, 87);
    margin-left: 2%;
    margin-right: 2%;
    border-color: aliceblue;
    border-style: solid;
    border-width: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 4%;
    border-radius: 15px;
}

nav{
    border-style: solid;
    border-width: 2px;
    background-color: rgb(247, 188, 181);
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 4%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px;
    opacity: 80%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: bold;

}

body{
    background-attachment: fixed;
    background-size: cover;
}

.Page-Name{
    display: inline;
    font-size: 500%;
    opacity: 100%;    
}

header img{
    display: inline;
}

.E{
    padding-left: 2%;
    padding-right: 2%;
    border-left: tomato;
    border-right: tomato;
    border-style: solid;
    border-width: 1px 8px 1px 8px;
    border-top: whitesmoke;
    border-bottom: whitesmoke;
    background: rgb(252, 233, 209);
    opacity: 75%;
}

.P{
    padding-left: 2%;
    padding-right: 2%;
    border-left: purple;
    border-right: purple;
    border-style: solid;
    border-width: 1px 8px 1px 8px;
    border-top: whitesmoke;
    border-bottom: whitesmoke;
    background: rgb(252, 216, 249);
    opacity: 75%;
}

.C{
    padding-left: 2%;
    padding-right: 2%;
    border-left: greenyellow;
    border-right: greenyellow;
    border-style: solid;
    border-width: 1px 8px 1px 8px;
    border-top: whitesmoke;
    border-bottom: whitesmoke;
    background: rgb(202, 252, 200);
    opacity: 75%;
}

.M{
    padding-left: 2%;
    padding-right: 2%;
    border-left: blueviolet;
    border-right: blueviolet;
    border-style: solid;
    border-width: 1px 8px 1px 8px;
    border-top: whitesmoke;
    border-bottom: whitesmoke;
    background: rgb(243, 210, 252);
    opacity: 75%;
}

.PE{
    padding-left: 2%;
    padding-right: 2%;
    border-left: yellow;
    border-right: yellow;
    border-style: solid;
    border-width: 1px 8px 1px 8px;
    border-top: whitesmoke;
    border-bottom: whitesmoke;
    background: rgb(248, 250, 229);
    opacity: 75%;
}

html{
    border-width: 45px;
    border-style: solid;
    border-color: thistle;
}

a{
    padding-left: 1%;
    padding-right: 1%;
}

.English-column{
    align-content: center;
    width: max-content;
    padding: 5%;
}

.Physics-column{
    width: max-content;
    padding: 5%;
}

.Chemistry-column{
    width: max-content;
    padding: 5%;
}

.Mathematics-column{
    width: max-content;
    padding: 5%;
}

.PE-column{
    width: max-content;
    padding: 5%;
}

.home{
    float: left;
    width: 15%;
}

.SW{
    float: left;
    width: 15%;
}

.SM{
    float: left;
    width: 15%;
}

.join{
    float: left;
    width: 15%;
}

.CU{
    float:left;
    width: 15%;
}

.AU{
    float: left;
    width: 15%;
}
footer{
    text-align: center;
    font-weight: bold;
    background: whitesmoke;
    padding: 2%;
    margin: 2%;
}

.SNE{
    font-size: 200%;
    font-family: 'a Astro Space', sans-serif;
    background: rgb(133, 253, 247);
    padding: 2%;
    margin-left: 6%;
    margin-right: 6%;
    border-width: 5px;
    border-style: solid;
    border-radius: 20px;
    opacity: 80%;
}
